<table class='table table-striped' id="data-table">
  <thead>
    <tr>
      <th> No </th>
      <th> Principal </th>
      <th> Interest </th>
      <th> Payment Total </th>
    </tr>        
  </thead>
  <tbody>
    <% (@term || 0).to_i.times do |inc| %>
      <tr>
        <td><%= inc + 1 %></td>
        <td><%= to_rp(@principal) %></td>
        <td><%= to_rp(@interest_amount) %></td>
        <td><%= to_rp(@total) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">Total</td>
      <td><%= to_rp((@total || 0) * 12) %></td>
    </tr>
  </tfoot>
</table>

<%= javascript_tag do %>
  $(document).ready(function() {
      $('#data-table').DataTable();
  });
<% end %>